{% extends 'base.html.twig' %}

{% block title %}Betaalmethode index{% endblock %}

{% block body %}
    <h1>Betaalmethode index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Betaalwijze</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for betaalmethode in betaalmethodes %}
            <tr>
                <td>{{ betaalmethode.id }}</td>
                <td>{{ betaalmethode.betaalwijze }}</td>
                <td>
                    <a href="{{ path('betaalmethode_show', {'id': betaalmethode.id}) }}">show</a>
                    <a href="{{ path('betaalmethode_edit', {'id': betaalmethode.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('betaalmethode_new') }}">Create new</a>
{% endblock %}
